name: CI
run-name: ${{ github.actor }} is learning GitHub Actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  DB_FLAG: CI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      # Set up Python 3.9 environment
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
      
      # Run our smoke tests
      # To Do

      # Run our pipeline
      - name: Run mlflow pipeline 
        run: |
          dagster job execute -f dagster_mlflow_project/repository.py --job daily_refresh
